@import "../../../../node_modules/nav-frontend-typografi-style/src/index";

.Publishing__label {
  margin-bottom: 0.5rem!important;
}

.Privacy {
  padding: 1.25rem 1.25rem 0.25rem;
}

.Privacy legend {
  .typo-undertittel;
  margin-bottom: 1rem;
}
