@import "../variables";
@import "../../node_modules/nav-frontend-typografi-style/src/index";

.DuplicatesModal {
  height: 95vh;
  z-index: 9999;
  padding: 0;
  width: 100%;
}

.DuplicatesModal .lukknapp  {
  z-index: 9000;
}

.DuplicatesModalContent,
.Duplicates {
  height: 100%;
}

.Duplicates__flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Duplicates__compare-wrapper {
  height: 3.25rem;
  display: flex;
  flex-direction: column;
  background: @navLysGra;
  overflow-y: hidden;
}

.Duplicates__compare-wrapper--expanded {
  flex: 3;
  overflow-y: scroll;
}

.Duplicates__compare__header {
  border-top: @navGra40 1px solid;
  padding: 0rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background: @navLysGra;
}

.Duplicates__compare__header__flex {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.Duplicates__compare__header__column {
  flex: 1;
}

.Duplicates__compare__header__column:first-child {
  margin-right: 1.25rem;
  padding-right: 1.25rem;
  border-right: 1px solid @navGra40;
}

.Duplicates__compare__header__column__inner {
  padding: 1rem 0;
}

.Duplicates__compare__header__collapse-button {
  position: absolute;
  right: 0;
  top: 0.75rem;
}


.Duplicates__compare {
  flex: 1;
}

.Duplicates__compare__flex {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.Duplicates__compare__current,
.Duplicates__compare__other {
  flex: 1;
  height: 100%;
}

.Duplicates__compare__current {
  margin-right: 1.25rem;
  padding-right: 1.25rem;
  border-right: 1px solid @navGra40;
}

.Duplicates__compare__other__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.DuplicateAdStatus {
  float: right;
}

.Duplicates__compare__current .AdText__body,
.Duplicates__compare__other .AdText__body {
  margin: 0;
  padding: 1.25rem;
}

.Duplicates__compare__current .dl-flex dt,
.Duplicates__compare__other .dl-flex dt {
  flex: none;
  width: 100%;
  margin-bottom: 0;
  max-width: none;
  font-weight: bold;
  color: @navMorkGra;
}

.Duplicates__compare__current .dl-flex dd,
.Duplicates__compare__other .dl-flex dd {
  flex: none;
  width: 100%;
  margin-bottom: 0.5rem;
  max-width: none;
}
