@import "../../../node_modules/nav-frontend-core/less/core";

.menu-col {
  display: block;
  vertical-align: top;
}

.menu-col-left {
  .menu-col;
  float: left !important;
}

.menu-col-right {
  .menu-col;
  float: right !important;
}

.menu-row {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menu-item {
  min-height: 275px;
  max-height: 60%;
  min-width: 450px;
  max-width: 60%;
  text-decoration: none;
}

.menu-icon {
  font-size: 5rem;
  font-style: normal;
}

.menu-item-border {
  .menu-item;
  border: 1px solid @navGra80;
  padding: 4rem;
}

.menu-statistics {
  .menu-item;
  .text-left;
  padding: 0;
}

.menu-search {
  .menu-item;
  .text-left;
  padding: 2rem 0 6rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.box-link {
  text-decoration: none;
  color: black;
}

.search-box {

}

.search-box-button {
  float: right !important;
}
