@import "../../../../node_modules/nav-frontend-typografi-style/src/index";

.Location {
  position: relative;
}

.PostalCode__city {
  .typo-normal;
  flex: auto;
  margin-left: 1rem!important;
  margin-bottom: 0!important;
}


