@import '../../variables';

.Søkeboks {
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin: 2rem 1rem 1rem 0;

    &__input-wrapper {
        position: relative;
    }

    &__input {
        flex: auto;
        width: 100%;
    }

    &__søkeknapp {
        position: absolute;
        right: 0;
        bottom: 0;

        svg {
            margin-right: 0.5rem;
        }
    }

    &__radio-gruppe {
        margin-top: 1rem;
        display: flex;
    }

    &__radio-knapp {
        margin-right: 1rem;
    }
}
