@import "../../variables";
@import "../../../node_modules/nav-frontend-typografi-style/src/index";
@import "../../../node_modules/nav-frontend-lenker-style/src/lenker-mixins";
@import "../../../node_modules/nav-frontend-skjema-style/src/validering";

.Administration {
  height: 100%;
}

.Administration__flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Administration__flex__center {
  flex: auto;
  overflow-y: auto;
  background: #EBF3FB;
}

.Administration__flex__bottom {
  background: #d9e8f7;
  border-top: 1px solid #b7b1a9;
  padding: 1.5rem 2.5rem 0;
}

.Administration__header {
  margin: 1.5rem 2.5rem 1rem;
}

.Administration__panel {
  border: 1px solid #dddddd;
  background: #fff;
  margin: 1rem 2.5rem;
}

.Administration__panel__title {
  padding: 1rem 1rem 0;
}

.Styrk,
.Location,
.Publishing {
  padding: 1rem;
}

@media (min-width: 1600px) {
  .Publishing__datepicker {
    width: 50%;
    display: inline-grid;
  }

  .Publishing__datepicker-expires .nav-datovelger__kalenderPortal {
    right: 0;
    left: auto;
  }
}

.Styrk,
.Employer {
  border-bottom: 1px solid #dddddd;
}

.StyrkPreview,
.EmployerPreview,
.LocationPreview {
  padding: 1rem;
}

.Administration__error {
  .typo-normal;
  .skjemaelement__feilmelding;
}
