.ResultHeader {
  font-weight: bold;
  height: 4rem;
  display: inline-flex;
  align-items: center;
  width: 100%;
  background-color: white;
  border: solid 1px #78706a;
  border-radius: 4px;
  padding: 1.25rem;
  margin: 0;
}

.ResultItem {
  height: 4rem;
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0 0 0;
  background-color: white;
  padding: 1.25rem;
  border: solid 1px #d8d8d8;
  border-radius: 4px;
}

.ResultItem__column {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 1rem;
}

.CandidateList__column {
  display: flex;
  align-items: center; //vertically
}

.Button__column {
  display: flex;
  justify-content: space-between;
}

.Result__table {
  max-width: 100%;
  width: 100%;

  th, td {
    text-align: left;
  }
}

.ColWidth-se {
  width: 100px;
}

.ColWidth-st {
  width: 250px;
}

.ColWidth-a {
  width: 200px;
}

.ColWidth-p {
   width: 120px;
 }

.ColWidth-c {
  width: 150px;
}

.ColWidth-sta {
  width: 110px;
}

.ColWidth-br {
  width: 64px;
}

.ColWidth-bk {
  width: 58px;
}

.ColWidth-bst {
  width: 52px;
}

.ColWidth-bsl {
  width: 35px;
}
