@import 'Result';

@drop-down-width: 140px;

.ResultItemDropDown {
    list-style: none;
    padding-left: 0;
    margin: 0;
    width: @drop-down-width;

    &__item {
        display: list-item;
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        &--disabled {
            color: @navGra60;
        }
    }
}
