.SearchPage {
  height: 100vh;
  padding-top: 4.125rem;
}

.SearchPage__flex {
  display: flex;
}

.SearchPage__flex__left {
  min-width: 17rem;
  padding: 6rem 6rem 0 2rem;
}

.SearchPage__flex__right {
  flex: auto;
  margin-right: 2rem;
}

.SearchBox__wrapper {
  max-width: 35rem;
}

.SearchPage__button__right {
  float: right;
  position: relative;
  top: -3.5rem;
}

