@import '../variables';

.SearchPage {
    background: #fff;
    min-height: 100vh;
}

.SearchPage__flex {
    display: flex;
}

.SearchPage__flex__left {
    flex: 0 0 20rem;
    margin-top: 5.5rem;
    padding: 0 2rem 0 1rem;
}

.SearchPage__flex__right {
    flex: auto;
    margin-right: 2rem;
}

.SearchPage__SearchBox__wrapper {
    background: @arbeidsgiverBla;
    display: flex;
    border-bottom: 1px solid #d8d8d8;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.SearchPage__SearchBox {
    flex: auto;
    max-width: 40rem;
    margin: 2rem 1rem 2rem 0;
}

.SearchPage__ResultCount {
    margin-top: 2.5rem;
}

.SearchPage__container {
    width: 100%;
    max-width: 100%;
}

.SearchPage__subtags {
    padding-left: 1.5rem;

    legend {
        display: none;
    }
}
