@import "../variables";

.SearchPage {
  height: 100vh;
  padding-top: @topMenuHeight;
}

.SearchPage__alertStripe {
  position: fixed;
  top: 4rem;
  width: 100%;
  left: 0;
  z-index: 9999;
}

.SearchPage__flex {
  display: flex;
}

.SearchPage__flex__left {
  width: 17rem;
  margin-top: 5.5rem;
  padding: 0 3rem 0 2rem;
}

.SearchPage__flex__right {
  flex: auto;
  margin-right: 2rem;
}

.SearchPage__SearchBox__wrapper {
  background: #e3edf8;
  display: flex;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.SearchPage__SearchBox {
  flex: auto;
  max-width: 40rem;
  margin: 2rem 1rem 2rem 0;
}

.SearchPage__ResultCount {
  margin-top: 2.5rem;
}

