@import "../../../../node_modules/nav-frontend-typografi-style/src/index";
@import "../../../../node_modules/nav-frontend-skjema-style/src/validering";

.Employer {
  margin-bottom: 1rem;
}

.Employer__error {
  .typo-normal;
  .skjemaelement__feilmelding;
}

.Employer__typeahead {
  ul li {
    white-space: normal;
  }

  .TypeaheadSuggestion__inner {
    white-space: normal;
  }
}
