.modal {
    width: 60rem;
    max-width: 60rem;
    height: 70%;
    overflow: hidden;
    padding: 0;
}

.innhold {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 0;
}

.header {
    padding: 1.25rem;
    background: #d9e8f7;
}

.headerFlex {
    display: flex;
    align-items: center;
    width: 100%;
}

.headerSearch {
    flex: 1;
    margin-right: 1rem;
}

.body {
    height: auto;
    overflow-y: scroll;
    flex: auto;
    border: 1px solid #ddd;
}
