.administration {
    position: sticky;
    top: 0;
}

.elements {
    overflow: hidden;
    padding: 1.5rem;
}

.panel {
    margin-bottom: 2rem;
}

.bottom {
    position: sticky;
    bottom: 0;
    background: var(--a-blue-50);
    border-top: 2px solid var(--a-border-subtle);
    padding: 1rem;
    z-index: 2;
}
