@import 'src/variables.less';

.registrer-inkluderingsmuligheter-direktemeldt-stilling {
    background-color: @arbeidsgiverBla;
    margin-bottom: 1.5rem;

    &__inkluderingsmuligheter {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__radiogruppe {
        margin-bottom: 1rem !important;

        .skjemaelement {
            margin-bottom: 0.5rem !important;
        }
    }

    .inkluderingsmulighet {
        margin-right: 3rem;
    }

    &__subtags.skjemagruppe {
        padding-left: 1.5rem;
    }
}
