@import "../variables";

.Ad {
  background: @navLysGra;
  min-height: @ad-height;
}

.Ad__flex {
  display: flex;
}

.Ad__flex__center {
  flex: auto;
  flex-shrink: 2;
  overflow-y: auto;
  height: @ad-height;
  min-width: 500px;
}

.Ad__flex__right {
  flex: auto;
  border-left: 2px solid #dddddd;
  background: #EBF3FB;
  overflow: hidden;
  max-height: @ad-height;
}

.Ad__flex__center__inner {
  height: 100%;
}

.Ad__flex__right__inner {
  height: 100%;
}

.Ad__preview,
.Ad__edit__inner {
  padding: 1.25rem 1rem;
  margin: 0 auto;
  max-width: 75rem;
}


.Ad__deleted {
  text-align: center;
  padding-top: 5rem;
}

@media print {
  .Ad__flex__center {
    height: 100%;
    width: 100%;
  }
}

.Ad__actions {
  padding-bottom: 1.25rem;
  display: flex;
  align-items: center; //vertically
}

.Ad__actions-link {
  align-self: flex-start;

  &:not(:last-child){
    margin-right: 2rem;
  }
}

.Ad__actions-button {
  margin-left: auto;

  &:not(:last-child){
    margin-right: 1rem;
  }
}

.Ad__spinner {
  text-align: center;
  padding-top: 30rem;
}

