.Ad__flex {
  display: flex;
}

.Ad__flex__center {
  flex: auto;
  height: 100vh;
  padding-top: 3rem;
}

.Ad__flex__right {
  width: 30rem;
  border-left: 1px solid #d1d1d1;
  padding-top: 3rem;
  height: 100vh;
}

.Ad__flex__center__inner {
  height: 100%;
  overflow-y: auto;
}

.Ad__flex__right__inner {
  padding: 3rem 1.5rem;
  height: 100%;
  overflow-y: auto;
}

.Ad__spinner {
  text-align: center;
  padding-top: 30rem;
}