@import "../../variables";

.Edit__title {
  margin-bottom: 0!important;
}

.Edit__details {
  margin-right: 1rem;
}

.Edit__panel {
  margin-bottom: 1rem;
}

.Edit__rte {
  margin-top: 1rem;
}

.Edit__title-employer {
  margin-top: 1rem!important;
}
