@import "../../variables";

.Edit__title {
  margin-bottom: 0!important;
}

.Edit__details {
  border-left: solid 1px @navLysGra;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
}

.Edit__body {
  margin-right: 4rem;
}

.Edit__rte {
  margin-top: 1rem;
}
