.forhåndsvisning {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.venstre {
    flex: 2;
}

.høyre {
    flex: 1;
}

.venstre,
.høyre {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.definisjonsliste {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 0.25rem;
    margin: 0;
}

.definisjonsliste dt {
    overflow-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

.definisjonsliste dd {
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}

@media (min-width: 1401px) {
    .forhåndsvisning {
        flex-direction: row;
    }
}
