@import '@navikt/ds-tokens';

.mineStillingerHeader {
    background-color: var(--a-blue-50);
    border-bottom: var(--a-spacing-05) solid var(--a-border-subtle);
}

.container {
    padding-left: 14.5rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    padding-top: var(--a-spacing-6);
    padding-bottom: var(--a-spacing-6);
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1280px) {
    .container {
        max-width: 1800px;
    }
}
