@import "../../variables";

.Tag {
  background: @navBlaLighten60;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem 0.25rem 0;
}

.Tag__remove {
  border: 0;
  margin-left: 0.25rem;
  background: none;
  font-weight: bold;
}