@import "../../../variables";

.AdTitle {
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-bottom: 1.25rem;
}

@media (max-width: @screen-sm-max) {
  .AdTitle {
    margin-left: 0.5rem;
  }
}

.Ad__preview__menu {
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center; //vertically
}

.Ad__preview__menu-item {
  align-self: flex-start;

  &:not(:last-child){
    margin-right: 2rem;
  }
}

.Ad__preview__menu-button {
  margin-left: auto;

  &:not(:last-child){
    margin-right: 1rem;
  }
}

.Preview__TopSection {
  display: flex;
  padding-bottom: 1.25rem;
  border-bottom: solid 1px #d8d8d8;
  margin-bottom: 1.25rem;
  justify-content: space-between;
}

.Preview__TopSection__left {
  display: flex;
  justify-content: flex-start;
}

.Preview__TopSection__right {
  display: flex;
}

.Help__icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cpath id='a' d='M10 20C4.486 20 0 15.514 0 10S4.486 0 10 0s10 4.486 10 10-4.486 10-10 10zM10 .87C4.965.87.87 4.965.87 10c0 5.035 4.095 9.13 9.13 9.13 5.035 0 9.13-4.095 9.13-9.13 0-5.035-4.095-9.13-9.13-9.13zm0 12.608a.435.435 0 0 1-.435-.435v-2.608c0-.24.195-.435.435-.435a2.177 2.177 0 0 0 2.174-2.174A2.177 2.177 0 0 0 10 5.652a2.177 2.177 0 0 0-2.174 2.174.435.435 0 0 1-.87 0A3.047 3.047 0 0 1 10 4.783a3.047 3.047 0 0 1 3.043 3.043 3.05 3.05 0 0 1-2.608 3.013v2.204c0 .24-.195.435-.435.435zm0 2.609a.87.87 0 1 1 0-1.74.87.87 0 0 1 0 1.74z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%230067C5' xlink:href='%23a'/%3E%3Cg fill='%230067C5' mask='url(%23b)'%3E%3Cpath d='M0 0h20v20H0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
  display: inline-flex;
  vertical-align: bottom;
  margin: 0.1rem 0.5rem 0 0;
}

p.TopSection__text {
  padding-top: 5px;
  line-height: 27px;
}
