.mineStillinger {
    background-color: var(--a-bg-subtle);
    min-height: 100vh;
}

.antallStillinger {
    grid-area: over-tabell;
}

.paginering {
    display: flex;
    justify-content: center;
    grid-area: under-tabell;
}

.ingenResultater {
    display: flex;
    justify-content: center;
    grid-area: under-tabell;
}

.lasterInn {
    grid-area: under-tabell;
}

.wrapper {
    display: grid;
    align-items: start;
    grid-template-areas:
        'over-tabell'
        'filter'
        'tabell'
        'under-filter'
        'under-tabell';
    gap: 1rem;
    margin: 2.5rem auto 0;
    padding: 0 1rem 2.5rem;
    max-width: 110rem;
}

.feilmelding {
    margin-top: var(--a-spacing-4);
}

.tabell {
    grid-area: tabell;
}

.filter {
    grid-area: filter;
}

@media (min-width: 1280px) {
    .wrapper {
        grid-template-columns: 14rem auto;
        grid-template-areas:
            'over-filter over-tabell'
            'filter tabell'
            'under-filter under-tabell';
        gap: 2rem;
        padding: 0 2rem 2.5rem;
    }
}
