@import "../../node_modules/nav-frontend-typografi-style/src/index";
@import "../variables";

.TopMenu {
  background: @navLysGra;
  border-right: 1px solid @navGra40;
  width: 3rem;
  height: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}

.TopMenu__item {
  text-align: center;
  width: 100%;
  padding: 0.5rem 0;
  display: block;
  color: #3E3832;
}

.TopMenu__shortcuts {
  .typo-normal();
  color: #fff;
  border: none;
  background: transparent;
  margin-right: 2rem;
}
.TopMenu__reportee {
  margin-right: 2rem;
}