@import "../../../variables";
@import "../../../../node_modules/nav-frontend-typografi-style/src/index";
@import "../../../../node_modules/nav-frontend-lenker-style/src/lenker-mixins";

.AdStatusEdit {
  margin-bottom: 1.5rem;
}

.AdStatusEdit__buttons {
  display: flex;
  margin-bottom: 1.5rem;
}

.AdStatusEdit__buttons__button {
  flex: 1;
  height: 3.25rem;
}

.AdStatusEdit__buttons__button:not(:last-child) {
  margin-right: 1rem;
}

.AdStatusEdit__buttons-mini {
  display: flex;
  justify-content: space-between;
}

.AdStatusEdit__PublishChanges__button {
  padding: 0 2rem 0 2rem !important;
}

.AdStatusEdit__StopAd__button {
  padding: 0 1rem 0 1rem !important;
}
