@import "../../../variables";
@import "../../../../node_modules/nav-frontend-typografi-style/src/index";
@import "../../../../node_modules/nav-frontend-lenker-style/src/lenker-mixins";

.AdStatusEdit {
  margin-bottom: 1.5rem;
}

.AdStatusEdit__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.AdStatusEdit__buttons__button {
  flex: 0 1 auto;
  height: 3.25rem;
  margin-bottom: 0.5rem;
  min-width: 211px;

}

.AdStatusEdit__buttons__button:not(:last-child) {
  margin-right: 1rem;
}

.AdStatusEdit__buttons-mini {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1800px) {
  .AdStatusEdit {
    .knapp--hoved {
      width: 270px;
    }
    
    .knapp--standard {
      width: 270px;
    }
  }
}

.AdStatusEdit {
  .knapp--mini{
    padding: 0;
  }
}

