@import "../../node_modules/nav-frontend-core/less/core";
@import "../styles";

.StartPage {
  margin: @topMenuHeight auto 0;
  padding-top: 20rem;
  max-width: 32rem;
}

.StartPage__button {
  text-align: center;
  width: 100%;
  padding: 1.125rem 3rem!important;
  display: block;
  margin-bottom: 0.5rem;
}
