@import "../../node_modules/nav-frontend-core/less/core";
@import "../styles";

.StartPage {
  background: #e7e9e9;
  height: 100vh;
  overflow: hidden;
}

.StartPage__SearchBox__wrapper {
  background: #d9e8f7;
  margin: @topMenuHeight auto 0;
  padding: 1rem 0;
  border-bottom: 1px solid #d8d8d8;
}

.StartPage__SearchBox__wrapper > .SearchBox {
  max-width: 32rem;
  margin: 3rem auto;
}

.StartPage__panels {
  margin: 3rem auto!important;
  max-width: 75rem;
}

.StartPage__systemtittel {
  position: absolute;
  left: 7rem;
}

.StartPage__icon-pen {
  width: 5rem;
  height: 5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Ccircle id='a' cx='50' cy='50' r='50'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cg fill='%23CCE1F3' mask='url(%23b)'%3E%3Cpath d='M0 100h100V0H0z'/%3E%3C/g%3E%3C/g%3E%3Cpath fill='%23C5232A' d='M63.897 42.204l-6.784-6.784a2.86 2.86 0 0 1 0-4.044l3.313-3.314a2.86 2.86 0 0 1 4.044 0l6.786 6.785a2.862 2.862 0 0 1 0 4.044l-3.315 3.313a2.86 2.86 0 0 1-4.044 0'/%3E%3Cpath fill='%23E9D8BD' d='M35.53 52.959l-7.367 18.195 18.196-7.366-4.132-7.128z'/%3E%3Cpath fill='%23EEC85D' d='M60.296 35.412l-3.61-3.61L36.62 51.87l3.609 3.609z'/%3E%3Cpath fill='%23E2B954' d='M43.838 59.088l20.067-20.067-3.61-3.61-20.066 20.068z'/%3E%3Cpath fill='%23EEC85D' d='M63.905 39.021L43.839 59.089l3.609 3.609 20.067-20.067zM35.939 54.911c.68.681 1.997.273 2.906 1.181.146.147.244.3.313.457l1.071-1.07-3.61-3.609-.999.999s-.362 1.361.319 2.042'/%3E%3Cpath fill='%23E2B954' d='M39.158 56.55c.365.818-.083 1.77.878 2.731.961.962 1.913.513 2.732.878l1.07-1.07-3.61-3.61-1.07 1.07z'/%3E%3Cpath fill='%23EEC85D' d='M42.767 60.159a1.5 1.5 0 0 1 .459.315c.907.907.5 2.224 1.18 2.905.681.68 2.043.317 2.043.317l.998-.998-3.609-3.61-1.07 1.07z'/%3E%3Cpath fill='%235C5B5A' d='M28.164 71.154l6.438-2.607-3.832-3.832zM67.514 42.63L56.686 31.802l1.473-1.471 10.827 10.827z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}
