@import "../../node_modules/nav-frontend-core/less/core";
@import "../styles";

.StartPage {
  background: #e7e9e9;
  height: 100vh;
  overflow: hidden;
}

.StartPage__SearchBox__wrapper {
  background: #d9e8f7;
  margin: @topMenuHeight auto 0;
  padding: 1rem 0;
  border-bottom: 1px solid #d8d8d8;
}

.StartPage__SearchBox__wrapper > .SearchBox {
  max-width: 32rem;
  margin: 3rem auto;
}

.StartPage__panels {
  margin: 3rem auto!important;
  max-width: 75rem;
}

.StartPage__systemtittel {
  position: absolute;
  left: 7rem;
}

.StartPage__icon-godkjenn {
  width: 5rem;
  height: 5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Ccircle id='a' cx='50' cy='50' r='50'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cg fill='%23F1D8D4' mask='url(%23b)'%3E%3Cpath d='M0 100h100V0H0z'/%3E%3C/g%3E%3C/g%3E%3Cpath fill='%23CCC8C4' d='M53.738 58.417c0 .895-.723 1.619-1.614 1.619H28.843a1.616 1.616 0 0 1-1.615-1.619c0-.892.723-1.617 1.615-1.617h23.28c.892 0 1.615.725 1.615 1.617M55.742 54.866c0 .893-.722 1.618-1.615 1.618H30.85a1.616 1.616 0 0 1-1.615-1.618c0-.894.722-1.618 1.615-1.618h23.278c.893 0 1.615.724 1.615 1.618M57.201 51.312c0 .894-.723 1.618-1.615 1.618h-23.28a1.616 1.616 0 0 1-1.614-1.618c0-.894.722-1.619 1.614-1.619h23.28c.892 0 1.615.725 1.615 1.619M55.294 47.759c0 .893-.724 1.618-1.615 1.618H36.86a1.616 1.616 0 0 1-1.615-1.618c0-.895.722-1.619 1.615-1.619h16.818c.89 0 1.615.724 1.615 1.619'/%3E%3Cpath fill='%23CCC8C4' d='M24.397 58.204h2.006c.549 0 1.007.958 1.007.958l16.113-1.994v-9.41l-5.291-1.618s-.121-.397.486-.793c.61-.396 3.468-1.584 3.468-1.584s3.373-1.583 2.766-3.048c-.608-1.46-2.827-.79-2.827-.79s-3.5.744-5.169 1.158c-2.111.521-4.258 1.736-5.84 2.741-1.58 1.006-3.888 2.925-3.888 3.595l-2.831.153v10.632z'/%3E%3Cpath fill='%23BDD1D0' d='M1.296 60.129h23.101V45.731H1.296z'/%3E%3Cpath fill='%236998A5' d='M20.058 60.129h4.339V45.731h-4.339z'/%3E%3Cpath fill='%2338363A' d='M22.196 58.628a.913.913 0 1 0-.002-1.826.913.913 0 0 0 .002 1.826'/%3E%3Cpath fill='%23515658' d='M77.099 25.884H42.076a2.605 2.605 0 0 0-2.615 2.598v43.87a2.58 2.58 0 0 0 .954 2.004 2.61 2.61 0 0 0 1.66.594H77.1a2.607 2.607 0 0 0 2.616-2.597V28.482a2.606 2.606 0 0 0-2.616-2.598'/%3E%3Cpath fill='%23FFF' d='M42.7 35.474v33.753c0 1.205.983 2.179 2.195 2.179H74.28a2.186 2.186 0 0 0 2.195-2.18V30.474a2.187 2.187 0 0 0-2.195-2.178H50.34l-7.64 7.179z'/%3E%3Cpath fill='%23C0C0BE' d='M50.34 28.295v4.998c0 1.204-.983 2.18-2.195 2.18H42.7l7.64-7.178z'/%3E%3Cpath fill='%232F3237' d='M59.589 27.104a.842.842 0 0 1-.847-.84c0-.464.379-.84.847-.84.466 0 .846.376.846.84 0 .465-.38.84-.846.84m5.228-3.435h-3.15v-.578a2.07 2.07 0 0 0-2.078-2.062 2.07 2.07 0 0 0-2.08 2.062v.578h-3.15c-1.552 0-2.813 1.251-2.813 2.793v3.358h16.083v-3.358a2.803 2.803 0 0 0-2.812-2.793'/%3E%3Cpath fill='%23C6C2BF' d='M48.883 67.836h21v1h-21z'/%3E%3Cpath fill='%2306893A' fill-rule='nonzero' d='M59.383 37.276c-4.896 0-8.88 3.984-8.88 8.88 0 4.895 3.984 8.88 8.88 8.88 4.896 0 8.88-3.985 8.88-8.88 0-4.896-3.984-8.88-8.88-8.88z'/%3E%3Cpath stroke='%23FFF' stroke-width='2' d='M63.336 43.836l-5.55 5.18a.371.371 0 0 1-.515-.008l-1.85-1.85a.37.37 0 0 1 .524-.524l1.597 1.597 5.288-4.935a.37.37 0 1 1 .506.54z'/%3E%3Cpath fill='%23CCC8C4' d='M24.397 58.204h2.006c.549 0 1.007.958 1.007.958L37.78 56.8l-.198-8.223.65-2.437s-.121-.397.486-.793c.61-.396 3.468-1.584 3.468-1.584s3.373-1.583 2.766-3.048c-.608-1.46-2.827-.79-2.827-.79s-3.5.744-5.169 1.158c-2.111.521-4.258 1.736-5.84 2.741-1.58 1.006-3.888 2.925-3.888 3.595l-2.831.153v10.632z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

.StartPage__icon-pen {
  width: 5rem;
  height: 5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='100' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Ccircle id='a' cx='50' cy='50' r='50'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cg fill='%23CCE1F3' mask='url(%23b)'%3E%3Cpath d='M0 100h100V0H0z'/%3E%3C/g%3E%3C/g%3E%3Cpath fill='%23C5232A' d='M63.897 42.204l-6.784-6.784a2.86 2.86 0 0 1 0-4.044l3.313-3.314a2.86 2.86 0 0 1 4.044 0l6.786 6.785a2.862 2.862 0 0 1 0 4.044l-3.315 3.313a2.86 2.86 0 0 1-4.044 0'/%3E%3Cpath fill='%23E9D8BD' d='M35.53 52.959l-7.367 18.195 18.196-7.366-4.132-7.128z'/%3E%3Cpath fill='%23EEC85D' d='M60.296 35.412l-3.61-3.61L36.62 51.87l3.609 3.609z'/%3E%3Cpath fill='%23E2B954' d='M43.838 59.088l20.067-20.067-3.61-3.61-20.066 20.068z'/%3E%3Cpath fill='%23EEC85D' d='M63.905 39.021L43.839 59.089l3.609 3.609 20.067-20.067zM35.939 54.911c.68.681 1.997.273 2.906 1.181.146.147.244.3.313.457l1.071-1.07-3.61-3.609-.999.999s-.362 1.361.319 2.042'/%3E%3Cpath fill='%23E2B954' d='M39.158 56.55c.365.818-.083 1.77.878 2.731.961.962 1.913.513 2.732.878l1.07-1.07-3.61-3.61-1.07 1.07z'/%3E%3Cpath fill='%23EEC85D' d='M42.767 60.159a1.5 1.5 0 0 1 .459.315c.907.907.5 2.224 1.18 2.905.681.68 2.043.317 2.043.317l.998-.998-3.609-3.61-1.07 1.07z'/%3E%3Cpath fill='%235C5B5A' d='M28.164 71.154l6.438-2.607-3.832-3.832zM67.514 42.63L56.686 31.802l1.473-1.471 10.827 10.827z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}
