.kandidathandlinger {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__legg-til-kandidat-knapp {
        border: none;
        background: none;

        &:hover {
            cursor: pointer;
        }
    }
}
