.Ad__edit__menu {
  padding-top: 1.50rem;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center; //vertically
}


.Ad__edit__menu-item {
  align-self: flex-start;

  &:not(:last-child){
    margin-right: 2rem;
  }
}


.Ad__edit__menu-title {
  padding-bottom: 0.5rem;
}


.Ad__edit__menu-button {
  margin-left: auto;
}
