.Ad__edit__menu {
  padding-top: 1.50rem;
  padding-bottom: 0.75rem;
  display: flex;
  align-items: center; //vertically
}

.Ad__edit__menu-item {
  align-self: flex-start;

  &:not(:last-child){
    margin-right: 2rem;
  }
}

.Ad__edit__section {
  padding-bottom: 0.5rem;
  margin-right: 1rem;
}

.Ad__edit__top-section {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.Ad__edit__top-section-item {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.Ad__edit__top-section-button {
  margin-left: 1rem;
}

.Ad__edit__top-section-input {
  background: transparent !important;
  color: #3E3832;
  flex-grow: 2;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.75rem;
}

.Ad__edit__menu-title {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.Ad__edit__menu-button {
  margin-left: auto;
  margin-bottom: 1.25rem;
}
