.Ad__edit__menu {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center; //vertically
}

.Ad__edit__menu > .Ad__edit__menu-item {
  margin-left: auto;

  &:not(:last-child){
    margin-right: 2rem;
  }
}

.Ad__edit__menu > .Ad__edit__menu-title {
  flex: 1 0 auto;
  align-self: flex-start;
}
